---
layout: default
title: 4cushion
description: Designed to build lightning fast websites

features:
 - title: Dev. Language
   text: Java, C#, Python, Javascript, Typescript, SQL, Html5, CSS
   img: assets/imgs/carousel/solen-feyissa-8xZD-BN4gSA-unsplash.jpg
   link: #
 - title: Our work use what Framework , Tool and Libary
   text: Spring(boot) framework, Vue, Angular, Cordova, Ionic, Figma, Django, Git
   img: assets/imgs/carousel/ivan-tsaregorodtsev-uKZL7YRTqxk-unsplash.jpg
   link: #
 - title: User Interface & User Experience
   text: 
   img: assets/imgs/carousel/surface-Jk7OGT8s63o-unsplash.jpg
   link: #

projects:
 - title: 4cushion is ... 
   subtitle: What we do is to produce application software.
   text: 포쿠션이 하는 일은 당신이 성장할 수 있도록 소프트웨어를 개발하고 공급하는 일입니다. 파트너쉽을 중요하게 생각합니다. 소통이 원할합니다. 수 많은 SI 프로젝트를 진행 해 왔습니다. 모두 정상적으로 오픈 하였습니다.
   img: assets/imgs/projects/logo_sketch.png
 - title: Oh yeah, it's that good.
   subtitle: See for yourself.
   text: Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
   img: assets/imgs/projects/kelly-sikkema-v9FQR4tbIq8-unsplash.jpg
 - title: And lastly, this one.
   subtitle: Checkmate.
   text: Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
   img: assets/imgs/projects/xps-kLfkVa_4aXM-unsplash.jpg

teams:
 - name: Vue Framework 
   img: assets/imgs/team/vue.png
   position: front-end side
   bio: "I'm not a real person. Well, I am but I'm not Bob Smith, CEO of this random site. This picture is from Pexel."
 - name: Yi Sanghoon
   img: assets/imgs/team/uphoon_wb.png
   position: Developer
   bio: My bio is the longest. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
 - name: Docker
   img: assets/imgs/team/docker.png
   position: We are together Docker
   bio: Look at me smile hahahaha. I like to design pretty things or some other info about me and what I do at this company or startup.   
---
{% include carousel.html %}
{% include projects.html %}
{% include team.html %}
