---
layout: default
title: Marz Training Center
description: Designed to build lightning fast websites

features:
 - title: Dev. Language
   text: Java, C#, Python, Javascript, Typescript, SQL, Html5, CSS
   img: assets/imgs/carousel/solen-feyissa-8xZD-BN4gSA-unsplash.png
   link: #
 - title: Our work use what Framework , Tool and Libary
   text: Spring(boot) framework, Vue, Angular, Cordova, Ionic, Figma, Django, Git
   img: assets/imgs/carousel/ivan-tsaregorodtsev-uKZL7YRTqxk-unsplash.png
   link: #
 - title: User Interface & User Experience
   text: 
   img: assets/imgs/carousel/surface-Jk7OGT8s63o-unsplash.png
   link: #

projects:
 - title: 4cushion is ... 
   subtitle: What we do is to produce application software.
   text: 4cushion이 하는 일은 당신이 성장할 수 있도록 소프트웨어를 개발하고 공급하는 일입니다. 파트너쉽을 중요하게 생각합니다. 소통이 원할합니다. 수 많은 SI 프로젝트를 진행 해 왔습니다. 모두 정상적으로 오픈 하였습니다.
   img: assets/imgs/projects/logo_sketch.png
 - title: Oh yeah, it's that good.
   subtitle: See for yourself.
   text: Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
   img: assets/imgs/projects/pexels-photo-230659.jpeg
 - title: And lastly, this one.
   subtitle: Checkmate.
   text: Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
   img: assets/imgs/projects/pexels-photo-251225.jpeg
---
{% include carousel.html %}
{% include projects.html %}
{% include team.html %}
